<h3> Approach Followed </h3>

<h5>1. I preprocessed the data for analysis :</h5>

    Subsituted the 'name' column value using the index
    
    Removed rows with missing values of 'Performance_10', 'Performance_12', 'Performance_UG' 
    
    Cleaned the 'Other skills' column by removing leading/trailing spaces 
    
    Converted 'Performance_10', 'Performance_12', 'Performance_UG', 'Performance_PG' columns to percentage values
    
    Filled missing values in 'Performance_PG' column with a specific value
    
<h5> 2. I defined the selection criteria for filtering the resumes: </h5>

     What is the desired degree
     
     Whether the candidate is available for 3 months starting immediately
     
     If the percentages is above 75
     
<h5> 3. Then I filtered the resumes based on the selection criteria.</h5>

<h5> 4. Then I conducted the technical round: </h5>

     Calculated the average technical score based on python score, ML score and NLP score

<h5> 5. Then I conducted soft-skills round: </h5>

     Used different soft skills that were mentioned in the 'Other skills' column to calculate the soft skills score

<h5> 6. Then I conducted the final evaluation: </h5>

     Assigned weights to different features, i.e. technical score and soft skills score
     
     Performed further analysis, combining scores and criteria to make final selections
     
     Sorted the filtered resumes by the total score in descending order
     
     Selected the top 5 candidates

In [105]:
#Imporing the libraries

import pandas as pd

In [106]:
# Load the dataset
data = pd.read_csv('Applications_for_Machine_Learning_internship_edited.csv')

In [107]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,NaN,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,NaN,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,NaN,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,NaN,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

<h3>Preprocessing the data</h3>

In [108]:
# Since the name column is blank for each row, assigning the values using index as a subsitute for "Name" column

data['Name'] = data.index + 1

In [109]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,1,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,2,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,3,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,4,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

In [110]:
# Drop rows with missing values in specific columns
data.dropna(subset=['Performance_10', 'Performance_12', 'Performance_UG'], inplace=True)

In [111]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
4,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00
7,8,2,2,0,1,"Atmel AVR, Data Analytics, Data Science, MS-Ex...","Yes, I am available for 3 months starting imme...",PGP,Data Science And Machine Learning,2023,NaN,6.80/10,75.20/75.20,8.80/8.80
8,9,2,1,1,0,"C++ Programming, Data Analytics, Data Structur...","Yes, I am available for 3 months starting imme...",B.Tech,Information and Communication Technology,2023,NaN,7.71/10,89.90/89.90,10.00/10.00
10,11,2,0,0,0,"MS-Excel, MS-PowerPoint, Power BI, Python, R P...","Yes, I am available for 3 months starting imme...",MBA,Analytics And Finance,2023,7.45/8,83.65/100,74.50/74.50,9.60/9.60
11,12,2,2,0,1,"MS-Excel, Artificial Intelligence, Data Analyt...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Information Technology,2023,NaN,7.85/10,76.80/76.80,81.00/81.00

In [112]:
# Fill missing values in 'Performance_PG' column with a specific value (e.g., -1)
data['Performance_PG'].fillna(-1, inplace=True)

In [113]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
4,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,-1,8.10/10,93.40/93.40,10.00/10.00
7,8,2,2,0,1,"Atmel AVR, Data Analytics, Data Science, MS-Ex...","Yes, I am available for 3 months starting imme...",PGP,Data Science And Machine Learning,2023,-1,6.80/10,75.20/75.20,8.80/8.80
8,9,2,1,1,0,"C++ Programming, Data Analytics, Data Structur...","Yes, I am available for 3 months starting imme...",B.Tech,Information and Communication Technology,2023,-1,7.71/10,89.90/89.90,10.00/10.00
10,11,2,0,0,0,"MS-Excel, MS-PowerPoint, Power BI, Python, R P...","Yes, I am available for 3 months starting imme...",MBA,Analytics And Finance,2023,7.45/8,83.65/100,74.50/74.50,9.60/9.60
11,12,2,2,0,1,"MS-Excel, Artificial Intelligence, Data Analyt...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Information Technology,2023,-1,7.85/10,76.80/76.80,81.00/81.00

In [114]:
# Clean the 'Other skills' column by removing leading/trailing spaces
data['Other skills'] = data['Other skills'].str.strip()

In [115]:
# Reset the index after dropping rows
data.reset_index(drop=True, inplace=True)

In [116]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,-1,8.10/10,93.40/93.40,10.00/10.00
1,8,2,2,0,1,"Atmel AVR, Data Analytics, Data Science, MS-Ex...","Yes, I am available for 3 months starting imme...",PGP,Data Science And Machine Learning,2023,-1,6.80/10,75.20/75.20,8.80/8.80
2,9,2,1,1,0,"C++ Programming, Data Analytics, Data Structur...","Yes, I am available for 3 months starting imme...",B.Tech,Information and Communication Technology,2023,-1,7.71/10,89.90/89.90,10.00/10.00
3,11,2,0,0,0,"MS-Excel, MS-PowerPoint, Power BI, Python, R P...","Yes, I am available for 3 months starting imme...",MBA,Analytics And Finance,2023,7.45/8,83.65/100,74.50/74.50,9.60/9.60
4,12,2,2,0,1,"MS-Excel, Artificial Intelligence, Data Analyt...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Information Technology,2023,-1,7.85/10,76.80/76.80,81.00/81.00

In [117]:
# Convert 'Performance_10', 'Performance_12', 'Performance_UG', 'Performance_PG' columns to percentage values
percentage_columns = ['Performance_10', 'Performance_12', 'Performance_UG', 'Performance_PG']

for col in percentage_columns:
    data[col] = data[col].astype(str)
    split_values = data[col].str.split('/', expand=True)
    numerator = pd.to_numeric(split_values[0], errors='coerce')
    denominator = pd.to_numeric(split_values[1], errors='coerce')
    data[col] = numerator / denominator * 100

In [118]:
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,81.00,100.0,100.0
1,8,2,2,0,1,"Atmel AVR, Data Analytics, Data Science, MS-Ex...","Yes, I am available for 3 months starting imme...",PGP,Data Science And Machine Learning,2023,NaN,68.00,100.0,100.0
2,9,2,1,1,0,"C++ Programming, Data Analytics, Data Structur...","Yes, I am available for 3 months starting imme...",B.Tech,Information and Communication Technology,2023,NaN,77.10,100.0,100.0
3,11,2,0,0,0,"MS-Excel, MS-PowerPoint, Power BI, Python, R P...","Yes, I am available for 3 months starting imme...",MBA,Analytics And Finance,2023,93.125,83.65,100.0,100.0
4,12,2,2,0,1,"MS-Excel, Artificial Intelligence, Data Analyt...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Information Technology,2023,NaN,78.50,100.0,100.0

In [119]:
# Fill missing values in 'Performance_PG' column with a specific value (e.g., -1)
data['Performance_PG'].fillna(-1, inplace=True)
data.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,5,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,-1.000,81.00,100.0,100.0
1,8,2,2,0,1,"Atmel AVR, Data Analytics, Data Science, MS-Ex...","Yes, I am available for 3 months starting imme...",PGP,Data Science And Machine Learning,2023,-1.000,68.00,100.0,100.0
2,9,2,1,1,0,"C++ Programming, Data Analytics, Data Structur...","Yes, I am available for 3 months starting imme...",B.Tech,Information and Communication Technology,2023,-1.000,77.10,100.0,100.0
3,11,2,0,0,0,"MS-Excel, MS-PowerPoint, Power BI, Python, R P...","Yes, I am available for 3 months starting imme...",MBA,Analytics And Finance,2023,93.125,83.65,100.0,100.0
4,12,2,2,0,1,"MS-Excel, Artificial Intelligence, Data Analyt...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Information Technology,2023,-1.000,78.50,100.0,100.0

<h3>Filtering the resumes</h3>

In [120]:
# Define the selection criteria
desired_education = ['B.Tech', 'M.Tech', 'Bachelor of Technology', 'Master of Technology']
available_for_3_months = 'Yes, I am available for 3 months starting immediately for a full-time internship.'
minimum_performance_10 = 75
minimum_performance_12 = 75
minimum_performance_UG = 75
minimum_performance_PG = 75

In [121]:
# Filter resumes based on the selection criteria
filtered_resumes = data[
    (data['Are you available for 3 months, starting immediately, for a full-time work from home internship? '].str.strip() == available_for_3_months) &
    (data['Degree'].str.contains('|'.join(desired_education), case=False, na=False)) &
    (data['Performance_10'] >= minimum_performance_10) &
    (data['Performance_12'] >= minimum_performance_12)
]

# Apply performance criteria based on degree
filtered_resumes.loc[filtered_resumes['Degree'].str.contains('Master'), 'Performance'] = filtered_resumes['Performance_PG']
filtered_resumes.loc[filtered_resumes['Degree'].str.contains('Bachelor'), 'Performance'] = filtered_resumes['Performance_UG']

# Filter resumes based on performance criteria
filtered_resumes = filtered_resumes[
    (filtered_resumes['Performance'] >= minimum_performance_UG)
]

# Reset the index of the DataFrame
filtered_resumes.reset_index(drop=True, inplace=True)

# Print the filtered resumes
print(filtered_resumes)

    Name  Python (out of 3)  Machine Learning (out of 3)  \
0     12                  2                            2
1     28                  2                            1
2    131                  2                            1
3    143                  2                            2
4    185                  2                            2
5    215                  0                            0
6    258                  2                            2
7    278                  2                            1
8    439                  2                            2
9    462                  2                            2
10   503                  1                            0
11   510                  3                            2
12   561                  3                            2
13   587                  2                            3
14   611                  2                            0
15   640                  2                            1
16   648                  1                            1
17   657                  3                            2
18   663                  2                            2
19   673                  2                            1
20   679                  2                            2
21   739                  2                            3
22   748                  0                            2
23   778                  2                            2
24   799                  2                            2
25   801                  2                            2
26   847                  2                            2
27   853                  3                            2
28   876                  2                            0
29   898                  3                            2
30   958                  3                            3
31  1034                  3                            0
32  1061                  1                            1
33  1093                  2                            2
34  1095                  2                            2

    Natural Language Processing (NLP) (out of 3)  Deep Learning (out of 3)  \
0                                              0                         1
1                                              0                         0
2                                              0                         3
3                                              1                         1
4                                              0                         0
5                                              0                         0
6                                              0                         0
7                                              0                         0
8                                              0                         0
9                                              2                         3
10                                             0                         0
11                                             0                         0
12                                             0                         0
13                                             2                         2
14                                             0                         0
15                                             0                         0
16                                             0                         1
17                                             2                         2
18                                             1                         1
19                                             0                         1
20                                             0                         2
21                                             2                         1
22                                             0                         0
23                                             0                         2
24                                             1                         2
25                                             1                         2
26                                             0                         0
27                                             0                         2
28                                             0                         0
29                                             0                         0
30                                             3                         2
31                                             0                         0
32                                             0                         1
33                                             0                         2
34                                             0                         0

                                         Other skills  \
0   MS-Excel, Artificial Intelligence, Data Analyt...
1   Data Analytics, MS-Excel, Python, Statistics, ...
2   Arduino, Computer Vision, Deep Learning, Inter...
3   C Programming, Content Writing, Database Manag...
4   MS-Excel, MS-Office, MS-Word, C++ Programming,...
5   Database Testing, English Proficiency (Spoken)...
6   Data Analytics, C++ Programming, CSS, English ...
7   C++ Programming, Data Structures, MS-PowerPoin...
8   C Programming, CSS, HTML, ReactJS, Artificial ...
9   Deep Learning, Data Analytics, Data Science, M...
10  C Programming, English Proficiency (Written), ...
11  Python, Algorithms, Data Structures, Machine L...
12  MS-Excel, Python, Artificial Intelligence, Dat...
13  Machine Learning, SQL, Statistics, Computer Vi...
14                       Java, CSS, HTML, Python, SQL
15  English Proficiency (Written), Python, Bootstr...
16  C Programming, C++ Programming, CSS, HTML, Dat...
17  Data Science, MS-Excel, Python, R Programming,...
18  Arduino, CSS, Data Science, Data Structures, E...
19      Java, Python, Deep Learning, Machine Learning
20  Creative Writing, Data Analytics, Data Science...
21  Machine Learning, Algorithms, Artificial intel...
22  Canva, Data Structures, Database Management Sy...
23  MS-Office, VS Code, Bioinformatics, Business A...
24  Data Analytics, Data Science, Deep Learning, J...
25  Content Writing, English Proficiency (Spoken),...
26  Data Analytics, Data Science, Data Structures,...
27  CSS, HTML, MySQL, Python, VS Code, C Programmi...
28  C Programming, C++ Programming, Content Writin...
29  Python, Artificial Intelligence, CSS, Data Str...
30  Data Analytics, Machine Learning, Natural Lang...
31  C Programming, Database Management System (DBM...
32  English Proficiency (Spoken), English Proficie...
33  Data Science, Data Structures, Deep Learning, ...
34  Data Science, MS-Excel, Machine Learning, Pyth...

   Are you available for 3 months, starting immediately, for a full-time work from home internship?   \
0   Yes, I am available for 3 months starting imme...
1   Yes, I am available for 3 months starting imme...
2   Yes, I am available for 3 months starting imme...
3   Yes, I am available for 3 months starting imme...
4   Yes, I am available for 3 months starting imme...
5   Yes, I am available for 3 months starting imme...
6   Yes, I am available for 3 months starting imme...
7   Yes, I am available for 3 months starting imme...
8   Yes, I am available for 3 months starting imme...
9   Yes, I am available for 3 months starting imme...
10  Yes, I am available for 3 months starting imme...
11  Yes, I am available for 3 months starting imme...
12  Yes, I am available for 3 months starting imme...
13  Yes, I am available for 3 months starting imme...
14  Yes, I am available for 3 months starting imme...
15  Yes, I am available for 3 months starting imme...
16  Yes, I am available for 3 months starting imme...
17  Yes, I am available for 3 months starting imme...
18  Yes, I am available for 3 months starting imme...
19  Yes, I am available for 3 months starting imme...
20  Yes, I am available for 3 months starting imme...
21  Yes, I am available for 3 months starting imme...
22  Yes, I am available for 3 months starting imme...
23  Yes, I am available for 3 months starting imme...
24  Yes, I am available for 3 months starting imme...
25  Yes, I am available for 3 months starting imme...
26  Yes, I am available for 3 months starting imme...
27  Yes, I am available for 3 months starting imme...
28  Yes, I am available for 3 months starting imme...
29  Yes, I am available for 3 months starting imme...
30  Yes, I am available for 3 months starting imme...
31  Yes, I am available for 3 months starting imme...
32  Yes, I am available for 3 months starting imme...
33  Yes, I am available for 3 months starting imme...
34  Yes, I am available for 3 months starting imme...

                             Degree  \
0   Bachelor of Technology (B.Tech)
1   Bachelor of Technology (B.Tech)
2   Bachelor of Technology (B.Tech)
3   Bachelor of Technology (B.Tech)
4     Master of Technology (M.Tech)
5   Bachelor of Technology (B.Tech)
6   Bachelor of Technology (B.Tech)
7   Bachelor of Technology (B.Tech)
8   Bachelor of Technology (B.Tech)
9   Bachelor of Technology (B.Tech)
10  Bachelor of Technology (B.Tech)
11  Bachelor of Technology (B.Tech)
12  Bachelor of Technology (B.Tech)
13    Master of Technology (M.Tech)
14  Bachelor of Technology (B.Tech)
15  Bachelor of Technology (B.Tech)
16  Bachelor of Technology (B.Tech)
17  Bachelor of Technology (B.Tech)
18  Bachelor of Technology (B.Tech)
19    Master of Technology (M.Tech)
20  Bachelor of Technology (B.Tech)
21  Bachelor of Technology (B.Tech)
22  Bachelor of Technology (B.Tech)
23  Bachelor of Technology (B.Tech)
24  Bachelor of Technology (B.Tech)
25  Bachelor of Technology (B.Tech)
26  Bachelor of Technology (B.Tech)
27  Bachelor of Technology (B.Tech)
28  Bachelor of Technology (B.Tech)
29  Bachelor of Technology (B.Tech)
30  Bachelor of Technology (B.Tech)
31  Bachelor of Technology (B.Tech)
32  Bachelor of Technology (B.Tech)
33  Bachelor of Technology (B.Tech)
34    Master of Technology (M.Tech)

                                               Stream  \
0                              Information Technology
1                              Information Technology
2                       Electronics and Communication
3                      Computer Science & Engineering
4                                      Nanotechnology
5                      Computer Science & Engineering
6                                    Computer Science
7                                    Computer Science
8                      Computer Science & Engineering
9                                                 NaN
10               Computer & Communication Engineering
11                      Electronics and Communication
12           Artificial Intelligence And Data Science
13                                       Data Science
14                             Information Technology
15                     Computer Science & Engineering
16         Compuer Science And Information Technology
17                                     Data Analytics
18                      Electronics and Communication
19                                   Computer Science
20                                   computer science
21                     Computer Science & Engineering
22               Computer & Communication Engineering
23                                     Bioengineering
24             Electrical and Electronics Engineering
25  Computer Science & Engineering, Specializing I...
26           Artificial Intelligence And Data Science
27                     Computer Science & Engineering
28                     Computer Science & Engineering
29                                   Computer Science
30                                   Computer Science
31                     Computer Science & Engineering
32                                   Computer Science
33                             Information Technology
34                             Information Technology

    Current Year Of Graduation  Performance_PG  Performance_UG  \
0                         2023            -1.0       78.500000
1                         2023            -1.0       81.800000
2                         2023            -1.0       94.800000
3                         2024            -1.0       84.800000
4                         2017            88.5       75.700000
5                         2018            -1.0       85.714286
6                         2023            -1.0       76.000000
7                         2025            -1.0       75.800000
8                         2023            -1.0       90.400000
9                         2022            -1.0       89.000000
10                        2022            -1.0       76.800000
11                        2024            -1.0       84.000000
12                        2024            -1.0       79.800000
13                        2023            75.4       63.000000
14                        2020            -1.0       78.400000
15                        2023            -1.0       82.600000
16                        2024            -1.0       86.000000
17                        2023            -1.0      100.000000
18                        2023            -1.0       78.700000
19                        2022            75.9       69.700000
20                        2023            -1.0       85.000000
21                        2023            -1.0       76.000000
22                        2024            -1.0       86.100000
23                        2023            -1.0       83.700000
24                        2023            -1.0       78.000000
25                        2024            -1.0       90.000000
26                        2024            -1.0       89.300000
27                        2025            -1.0       90.900000
28                        2025            -1.0       86.700000
29                        2023            -1.0       80.000000
30                        2023            -1.0       85.600000
31                        2023            -1.0       89.000000
32                        2024            -1.0       75.500000
33                        2022            -1.0       85.000000
34                        2022            88.6       74.800000

    Performance_12  Performance_10  Performance
0            100.0           100.0    78.500000
1            100.0           100.0    81.800000
2            100.0           100.0    94.800000
3            100.0           100.0    84.800000
4            100.0           100.0    88.500000
5            100.0           100.0    85.714286
6            100.0           100.0    76.000000
7            100.0           100.0    75.800000
8            100.0           100.0    90.400000
9            100.0           100.0    89.000000
10           100.0           100.0    76.800000
11           100.0           100.0    84.000000
12           100.0           100.0    79.800000
13           100.0           100.0    75.400000
14           100.0           100.0    78.400000
15           100.0           100.0    82.600000
16           100.0           100.0    86.000000
17           100.0           100.0   100.000000
18           100.0           100.0    78.700000
19           100.0           100.0    75.900000
20           100.0           100.0    85.000000
21           100.0           100.0    76.000000
22           100.0           100.0    86.100000
23           100.0           100.0    83.700000
24           100.0           100.0    78.000000
25           100.0           100.0    90.000000
26           100.0           100.0    89.300000
27           100.0           100.0    90.900000
28           100.0           100.0    86.700000
29           100.0           100.0    80.000000
30           100.0           100.0    85.600000
31           100.0           100.0    89.000000
32           100.0           100.0    75.500000
33           100.0           100.0    85.000000
34           100.0           100.0    88.600000

/var/folders/4j/py9jlf7x06s909xsg_t9hhch0000gn/T/ipykernel_92886/3120838911.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_resumes.loc[filtered_resumes['Degree'].str.contains('Master'), 'Performance'] = filtered_resumes['Performance_PG']

<h3> Technical Round </h3>

In [122]:
# Conduct a technical interview
def conduct_technical_interview(candidate):
    
    python_score = candidate['Python (out of 3)']
    ml_score = candidate['Machine Learning (out of 3)']
    nlp_score = candidate['Natural Language Processing (NLP) (out of 3)']

    # Calculate the average technical score
    technical_score = (python_score + ml_score + nlp_score) / 3

    # Return the technical score
    return technical_score

<h3> SoftSkills Round </h3>

In [123]:
def conduct_soft_skills_evaluation(candidate):

    soft_skills_score = 0

    # Check if the candidate has good communication skills
    if 'Effective communication' in candidate['Other skills']:
        soft_skills_score += 1

    # Check if the candidate has spoken english proficiency
    if 'English Proficiency (Spoken)' in candidate['Other skills']:
        soft_skills_score += 1

    # Return the soft skills score
    return soft_skills_score

<h3>Evaluation</h3>

In [124]:
#Weighting Features : Assigning weights to Technical and Soft Skills
technical_weight = 0.7
soft_skills_weight = 0.3

# Iterate through the filtered resumes for the technical round and soft skills evaluation
for index, candidate_row in filtered_resumes.iterrows():
    technical_score = conduct_technical_interview(candidate_row)
    soft_skills_score = conduct_soft_skills_evaluation(candidate_row)

    # Store the technical and soft skills scores in the candidate's row
    filtered_resumes.at[index, 'Technical Score'] = technical_score
    filtered_resumes.at[index, 'Soft Skills Score'] = soft_skills_score

# Perform further analysis, combining scores and criteria to make final selections
filtered_resumes['Total Score'] = (filtered_resumes['Technical Score'] * technical_weight) + (
        filtered_resumes['Soft Skills Score'] * soft_skills_weight)

# Sort the filtered resumes by the total score in descending order
filtered_resumes = filtered_resumes.sort_values('Total Score', ascending=False)

# Select the top candidates based on your desired number or threshold
top_candidates = filtered_resumes.head(5)  # Select top 5 candidates

# Print the top candidates
print(top_candidates)

    Name  Python (out of 3)  Machine Learning (out of 3)  \
30   958                  3                            3
17   657                  3                            2
13   587                  2                            3
21   739                  2                            3
3    143                  2                            2

    Natural Language Processing (NLP) (out of 3)  Deep Learning (out of 3)  \
30                                             3                         2
17                                             2                         2
13                                             2                         2
21                                             2                         1
3                                              1                         1

                                         Other skills  \
30  Data Analytics, Machine Learning, Natural Lang...
17  Data Science, MS-Excel, Python, R Programming,...
13  Machine Learning, SQL, Statistics, Computer Vi...
21  Machine Learning, Algorithms, Artificial intel...
3   C Programming, Content Writing, Database Manag...

   Are you available for 3 months, starting immediately, for a full-time work from home internship?   \
30  Yes, I am available for 3 months starting imme...
17  Yes, I am available for 3 months starting imme...
13  Yes, I am available for 3 months starting imme...
21  Yes, I am available for 3 months starting imme...
3   Yes, I am available for 3 months starting imme...

                             Degree                          Stream  \
30  Bachelor of Technology (B.Tech)                Computer Science
17  Bachelor of Technology (B.Tech)                  Data Analytics
13    Master of Technology (M.Tech)                    Data Science
21  Bachelor of Technology (B.Tech)  Computer Science & Engineering
3   Bachelor of Technology (B.Tech)  Computer Science & Engineering

    Current Year Of Graduation  Performance_PG  Performance_UG  \
30                        2023            -1.0            85.6
17                        2023            -1.0           100.0
13                        2023            75.4            63.0
21                        2023            -1.0            76.0
3                         2024            -1.0            84.8

    Performance_12  Performance_10  Performance  Technical Score  \
30           100.0           100.0         85.6         3.000000
17           100.0           100.0        100.0         2.333333
13           100.0           100.0         75.4         2.333333
21           100.0           100.0         76.0         2.333333
3            100.0           100.0         84.8         1.666667

    Soft Skills Score  Total Score
30                0.0     2.100000
17                0.0     1.633333
13                0.0     1.633333
21                0.0     1.633333
3                 1.0     1.466667